a, a:hover{
  text-decoration: none;
}

nav {
  position: fixed;
  display: flex;
  background: #1c2342;
  width: 100%;
  align-items: center;
  user-select: none;
  z-index: 1000;
}

nav a {
  display: block;
  padding: 1.5rem 1.563rem;
  color: #bed8eb;
  font-size: 1.25rem;
  transition: 0.25s ease-in-out;
}

nav a:hover {
  color: #67a4cf;
  background: #1c2342;
}

.logo {
  flex: 1;
  padding: 0.25rem;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #bed8eb;
}

.logo a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #bed8eb;
}

.logo a:hover {
  color: #67a4cf;
}

.logo img {
  width: 30px;
  margin-right: 10px;
}

.logo span {
  font-size: 1.5rem;
  margin-left: 10px;
}

.menu ul{
  display: flex;
  align-items: center;
  list-style: none;
  margin-right: 0.25rem;
}

nav ul li ul.dropdown {
  width: 15rem;
  background: #232c53;
  list-style: none;
  position: absolute;
  z-index: 999;
  display: none;
}

nav ul li:hover ul.dropdown {
  display: block;
}