.gradepage-container{
    position: relative;
    padding-top: 0.625rem;
}

.gradepage{
  display: flex;
}

.all-units {
    width: 30%;
    height: 40rem;
    background: #0d0f18;
    padding: 10px;
    overflow: auto;
}
  
.unit-container {
    background-color: #242c48;
    height: 40rem;
    width: 70%;
    padding: 0 20px;
}

.unit-label{
    color:  #c2cbec;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 20px;
}

.line{
    background-color: #5a5a5a;
}