{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <title>MathWizards Backend</title>
</head>
<body>
    <div>
        <h1>Normal Data</h1>
        <a href="{% url 'all_grades' %}">Grade</a>
        <a href="{% url 'all_units' %}">Unit</a>
        <a href="{% url 'all_lessons' %}">Lesson</a>
        <a href="{% url 'all_problems' %}">Problem</a>
    </div>
    <div>
        <h1>Serialized Data</h1>
        <a href="{% url 'grade-list' %}">Grade</a>
        <a href="{% url 'unit-list' %}">Unit</a>
        <a href="{% url 'lesson-list' %}">Lesson</a>
        <a href="{% url 'problem-list' %}">Problem</a>
    </div>
</body>
</html>